.samples/
docs/
output/
textures/

assets/**
!assets/README.md

region/**
!region/README.md

*.exe
*.test.exe
*.exe~
*.test
*.out

coverage
coverage.*

*.go.work
*.go.work.sum

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db
